/* General */
body{
    background: url('../img/battle-of-the-teutoberg-forest-56a61c273df78cf7728b63b6.webp') no-repeat fixed;
    background-size: cover;
    color: white;
    margin: 20px;
    font-family: Helvetica, Arial, san-serif;
}

h1{
    font-family: Georgia, Helvetica, Arial, san-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 12px;
}

p{
    font-size: 16px;
    line-height:130%;
    padding: 0;
    margin: 0 0 7px;
}

section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 50px;
    grid-template-areas:
    "header"
    "navigation"
    "main-content"
    "footer";
    grid-gap: 20px;
}

header{
    grid-area: header;
    padding: 50px;
}

nav{
    grid-area: navigation;
    display: flex;
    flex-direction: column;
}

nav a{
    flex: 1;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    text-decoration: underline;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    margin-bottom: 7px;
}

a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

main{
    grid-area: main-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

main article{
    padding: 10px;
}

footer{
    grid-area: footer;
    color: white;
}

.start_img{
    max-width: 100%;
    height: auto;
}

ul.social_list{
    text-align: center;
    padding: 30px;
}
ul.social_list li{
    display: inline-block;
    text-align: center;
    padding: 8px;
}

/* Phone */
@media screen and (min-width: 375px) and (max-width: 812px){

}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    h1{
        font-size: 30px;
    }

    p{
        font-size: 14px;
    }

    a{
        font-size:  15px;
    }

    section.grid-container{
        width: 1000px;
        margin: 20px auto;
    }

    header{
        text-align: center;
    }

    main{
        grid-template-columns: 1fr 1fr;
    }

    ul.social_list{
        display: none;
    }
}

/* Desktop */
@media screen and (min-width: 1025px) {
    h1{
        font-size: 30px;
    }

    p{
        font-size: 14px;
    }

    a{
        font-size: 15px;
    }

    section.grid-container{
        width: 1000px;
        margin: 20px auto;
    }

    header{
        text-align: center;
    }

    main{
        grid-template-columns: 1fr 1fr;
    }

    nav{
        flex-direction: row;
    }

    ul.social_list{
        display: none;
    }
}

p{
    font-size: 16px;
    line-height:130%;
    padding: 0;
    margin: 0 0 7px;
}

h1{
    font-family: Georgia, Helvetica, Arial, san-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 12px;
}

h3{
    color: white;
    font-family: Arial;
}

fieldset {
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 10px;
}

legend {
    font-size: large;
}

form p {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

label{
    flex: 0 1 10ch;
    text-align: right;
    padding-right: 1ch;
}

.required{
    flex: 0 0 2ch;
    order: 1;
    text-align: center;
    padding-right:0;
}

input[type="text"]
input[type="email"]
textarea{
    flex: 1 1 25ch;
    max-width: 300px;
}

textarea{
    flex: 1 1 25ch;
    max-width: 190px;
    height: 5em;
    resize: vertical;
}

input[type="submit"] {
    display: block;
    margin-inside: 10px;
}

table{
    display: inline;
}
